@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0;
    // background-color: $color-black;
    color: $color-grey;
    min-height: 100vh;
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Oswald, sans-serif;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.percentage {
    padding: $gap/3;
    margin-left: $gap * 10px / $gap;
    border-radius: 0.2rem;
    font-weight: 500;
    color: lighten($color: $color-grey, $amount: 60);
}

.header {
    padding-top: $gap;
    padding-bottom: $gap;
    background: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

    &--title {
        text-transform: capitalize;
        margin-bottom: $gap;
        text-shadow: 0px 0px 2px darken($color: $color-black, $amount: 100);
        font-size: 3rem;
    }

    &--description {
        font-size: 1.4rem;
        padding: $gap;
        color: lighten($color: $color-grey, $amount: 40);
    }

    &--budget-value {
        font-weight: 700;
        font-size: 3rem;
        font-family: Oswald, sans-serif;
        letter-spacing: 0.2rem;
        color: lighten($color: $color-grey, $amount: 40);
    }

    &--percentage {
        background-color: rgba($color: $color-grey, $alpha: 0.3);
        border: 1px solid rgba($color: $color-grey, $alpha: 0.2);

    }
}

.summary {
    padding: $gap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $gap;
    margin-bottom: $gap;
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;

    &--label {
        text-transform: uppercase;
        font-weight: 500;
    }

    &--value {
        align-self: center;
        font-weight: 500;
        color: lighten($color: $color-grey, $amount: 60);
    }

    &--values__expences {
        display: flex;
    }

    &__incomes {
        background-color: $color-blue;
        padding-top: $gap + 5px;
        padding-bottom: $gap + 5px;
    }

    &__expences {
        background-color: $color-red;
    }

}

.btn {
    cursor: pointer;
    border-radius: 0.2rem;
    border: 1px solid $color-grey;
    padding: $gap * 10px / $gap;
    text-align: center;
    transition: all .3s ease-in;
    outline: none;
    margin-left: $gap;

    i {
        font-size: 1.5rem;
    }

    &__add {

        &:hover {
            background-color: $color-yellow;
        }

        &.blue {
            color: $color-blue;
        }

        &.red {
            color: $color-red;
        }
    }

    &__incomes {
        background-color: rgba($color: $color-blue, $alpha: 0.2);

        &:hover {
            background-color: $color-yellow;
        }
    }

    &__expences {
        background-color: rgba($color: $color-red, $alpha: 0.2);
        color: $color-red;

        &:hover {
            background-color: $color-yellow;
        }
    }

    &__incomes,
    &__expences {
        display: none;
        padding: $gap/5 $gap/3;
        float: right;

        i {
            font-size: 1.2rem;
        }
    }
}

.form {
    padding: $gap;
    background-color: lighten($color: $color-grey, $amount: 10);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--select {
        padding: $gap/2;
        margin-right: $gap;
        border-radius: 0.2rem;
        border: 1px solid $color-grey;
        outline: none;

        &:focus {
            border: 1px solid $color-blue;
        }

        &.red-focus:focus {
            border: 1px solid $color-red;
        }
    }

    &--description {
        width: 360px;

        &:focus {
            border: 1px solid $color-blue;
        }

        &.red-focus {
            border: 1px solid $color-red;
        }
    }

    &--value {

        &:focus {
            border: 1px solid $color-blue;
        }

        &.red-focus {
            border: 1px solid $color-red;
        }
    }

    &--value,
    &--description {
        outline: none;
        width: 360px;
        padding: $gap;
        border: 1px solid $color-grey;
        font-size: 1.2rem;
        border-radius: 0.2rem;
    }
}

.incomes,
.expences {
    .title {
        text-align: left;
        text-transform: uppercase;
        margin-bottom: $gap;
    }

    .label {
        color: $color-black;
        font-family: Oswald;
        font-weight: 300;
        float: left;
        text-align: left;
    }


    .incomes {
        &--title {
            color: $color-red;
        }

        &--value {
            color: $color-blue;
        }
    }

    .expences {
        &--title {
            color: $color-blue;
        }

        &--value {
            color: $color-red;
        }

        &--percentage {
            background-color: rgba($color: $color-red, $alpha: 0.3);
            border: 1px solid rgba($color: $color-red, $alpha: 0.2);
            font-size: 0.8rem;
        }
    }
}

.item {

    padding: $gap/2 $gap;
    background-color: lighten($color: $color-grey, $amount: 20);
    font-size: 1.2rem;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    margin: $gap/3 0;
    overflow: hidden;

    .value,
    .percentage {
        transition: all .3s ease-in;
    }

    .values {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in;
        float: right;
    }

    &:hover {
        .values {
            transform: translateX(-10px);
        }

        .btn {
            display: block;
        }
    }

    &:nth-child(2n) {
        background-color: lighten($color: $color-grey, $amount: 10);
    }

    .value {
        font-family: Oswald;
        font-weight: 300;
    }
}

.main {
    flex-grow: 1;
}

.content {
    padding: $gap*2;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $gap*2;
    }
}

.footer {
    background-color: darken($color:$color-black, $amount:20);
    color: lighten($color:$color-grey, $amount:10);
    font-family: Oswald;
    font-weight: 300;

    .container {
        padding: $gap;
    }
}